<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Adverse Events
        <small>{{main.selectedAccount}}</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-fw fa-filter"></i>Filter By</h3>
            <div class="box-tools pull-right">
                <button type="button" ng-click="resetFilter()" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-fw fa-refresh"></i>Reset</button>

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body form-horizontal">
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="selectStatus" class="col-sm-3 control-label">Status:</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2 select2-hidden-accessible" id="selectStatus" ng-model="filter.status">
                                        <option selected="selected" value=''>All</option>
                                        <option ng-value="0">Info</option>
                                        <option ng-value="1">Warning</option>
                                        <option ng-value="2">Critical</option>
                                        <option ng-value="3">Error</option>
                                    </select>
                                </div>
                            </div>                                        
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label for="selectState" class="col-sm-3 control-label">Instance</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="selectedInstance.value">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.id"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="instance in (instances | filter:$select.search) track by instance.id">
                                            <span>{{instance.id}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="selectState" class="col-sm-3 control-label">Check</label>
                                <div class="col-sm-9">
                                    <input class="form-control " id="selectMonitoring" ng-model="filter.checkName" ng-model-options="{ debounce: 200 }" />
                                </div>

                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" title="Search" class="btn btn-xs btn-search" ng-click="getAlertHistory('resetPage')">
                                <i class="fa fa-fw fa-search white"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>
    <div ng-include="'app/views/adverselisting.html'"></div>
</section>