<div class="table-responsive-vertical table">
    <table id="table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Alert Level </th>
                <th>ELK Link</th>
                <th>Instance</th>
                <th>Check</th>
                <th>Event Time</th>
                <th>Event Description</th>
                <th ng-if="corelation">More Details</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!alertsLoading" ng-repeat="data in alerts|orderBy: alertColumns.time: true">
                <td data-title="ID" ng-switch on="data[alertColumns.value]">
                    <a ng-href="" ng-class="{'no-pointer':!corelation}" ng-click="corelation;getCorelationData(data[alertColumns.time])">
                    <span ng-switch-when="0" class="txt-aqua" uib-tooltip="Info">
                        <i class="fa fa-fw fa-square"></i></span>
                    <span ng-switch-when="1" class="txt-warning" uib-tooltip="Warning">
                        <i class="fa fa-fw fa-square"></i></span>
                    <span ng-switch-when="2" class="txt-criticle" uib-tooltip="Critical">
                        <i class="fa fa-fw fa-square"></i></span>
                   <span ng-switch-when="3" class="txt-purple" uib-tooltip="Error">
                        <i class="fa fa-fw fa-square"></i></span>
                   </a>
                </td>
                <td data-title="ELK Link" class="blue"><span><a href="{{getElkLink(data)}}" target="_blank"><i class="fa fa-fw fa-bar-chart"></i></a></span></td>
                <td data-title="Instance">{{data[alertColumns.instanceId]}}</td>
                <td data-title="Check">{{data[alertColumns.checkName]}}</td>
                <td data-title="Event Time">
                    {{data[alertColumns.time]| date:'medium'}}</td>
                <td data-title="Event Description">{{data[alertColumns.checkOutput]}}</td>
                <td ng-if="corelation"><a ng-href="" ng-click="getCorelationData(data[alertColumns.time])">More Details</a></td>
            </tr>
            <tr ng-if="!alertsLoading && alerts.length === 0">
                <td colspan="{{corelation ? '6' : '5'}}" class="txt-red align-center">
                    No Data Found
                </td>
            </tr>
            <tr ng-if="alertsLoading">
                <td colspan="{{corelation ? '6' : '5'}}" class="txt-theme align-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> 
                </td>
            </tr>
        </tbody>
    </table>
    <div>

        <div ng-show="alerts.length === pageSize || alertPage > 1" class="pull-left">
            <ul class="pagination pagination-sm no-margint">
                <li>
                    <a ng-disabled="alertPage === 1"
                       ng-click="getAlertPaginationRecord(alertPage - 1)">PREV</a>
                </li>
                <li>
                    <a ng-disabled="alerts.length !== pageSize"
                       ng-click="getAlertPaginationRecord(alertPage + 1)">NEXT </a>                
                </li>
            </ul>
        </div>
        <div ng-if="currentView === 'sae'" class="pull-right">
            <a ui-sref="home.adverse({ instanceId: instanceId})"><i class="fa fa-calendar-check-o"></i> All Adverse Events</a>
        </div>
    </div>
    <div class="clearfix"></div>

</div>
