<!-- Content Header (Page header) -->
<section class="content-header clearfix">
    <h1 class="pull-left">
        CatEye
    </h1>
    <small class="pull-right">
        <i class="fa fa-clock-o"></i> <strong>Last Updated:&nbsp;</strong>{{catsEyeData[catsEyeColumns.time]| date:'medium'}}
    </small>

    <div></div>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue cursor-pointer" ui-sref='home.instances' uib-tooltip="{{(catsEyeColumns.totalInstancesCount)?catsEyeData[catsEyeColumns.totalInstancesCount]+' Total Instances':'NA'}}" tooltip-placement="top-center">
                <div class="inner">
                    <h3>
                        <span ng-if="!dataloading">
                            {{(catsEyeColumns.totalInstancesCount)?catsEyeData[catsEyeColumns.totalInstancesCount]:'NA'}}
                        </span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>
                    <p>Total Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-circle-o"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green cursor-pointer" ui-sref="home.instances({ status: 'running' })" uib-tooltip="{{(catsEyeColumns.runningInstancesCount)?catsEyeData[catsEyeColumns.runningInstancesCount]+ ' Running Instances':'NA'}}" tooltip-placement="top-center">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                            {{(catsEyeColumns.runningInstancesCount)?catsEyeData[catsEyeColumns.runningInstancesCount]:'NA'}}
                        </span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Running Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-circle-o"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red cursor-pointer" ui-sref="home.instances({ status: 'stopped' })" uib-tooltip="{{(catsEyeColumns.stoppedInstancesCount)?catsEyeData[catsEyeColumns.stoppedInstancesCount]+ ' Stopped Instances':'NA'}}" tooltip-placement="top-center">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                            {{(catsEyeColumns.stoppedInstancesCount)?catsEyeData[catsEyeColumns.stoppedInstancesCount]:'NA'}}
                        </span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Stopped Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-circle-o"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-gray cursor-pointer" ui-sref="home.instances({ status: 'terminated' })" uib-tooltip="{{(catsEyeColumns.terminatedInstancesCount)?catsEyeData[catsEyeColumns.terminatedInstancesCount]+' Terminated Instances':'NA'}}" tooltip-placement="top-center">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                            {{(catsEyeColumns.terminatedInstancesCount)?catsEyeData[catsEyeColumns.terminatedInstancesCount]:'NA'}}
                        </span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Terminated Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-circle-o"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
    </div> 

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red cursor-pointer" ui-sref="home.events({ instanceId: catsEyeData[catsEyeColumns.criticalInstance], checkStatus: 2 })" uib-tooltip="{{(catsEyeData[catsEyeColumns.criticalInstance] !== '')?'Critical Instance '+catsEyeData[catsEyeColumns.criticalInstance]:'NA'}}" tooltip-placement="top-center">
                <div class="inner">
                    <h3><span ng-if="!dataloading" style="font-size: 18px;">
                            {{(catsEyeData[catsEyeColumns.criticalInstance] !== '')?catsEyeData[catsEyeColumns.criticalInstance]:'NA'}}
                        </span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Critical Instance</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-bell"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow cursor-pointer" ui-sref="home.events({ instanceId: catsEyeData[catsEyeColumns.warningInstance], checkStatus: 1 })" uib-tooltip="{{(catsEyeData[catsEyeColumns.warningInstance] !== '')?'Warning Instance '+catsEyeData[catsEyeColumns.warningInstance]:'NA'}}" tooltip-placement="top-center">
                <div class="inner">
                    <h3>
                        <span ng-if="!dataloading" style="font-size: 18px;">
                            {{(catsEyeData[catsEyeColumns.warningInstance] !== '')?catsEyeData[catsEyeColumns.warningInstance]:'NA'}}
                        </span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Warning Instance</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-bell"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-hide="true">

        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-hide="true">

        </div>
        <!-- ./col -->
    </div>
</section>
