<!-- Content Header (Page header) -->
<section class="content-header clearfix">
    <h1 class="pull-left">
        CatEye
        <small>{{main.selectedAccount}}</small>
        
    </h1>
    <small class="pull-right">
            <i class="fa fa-clock-o"></i> <strong>Last Updated:&nbsp;</strong>{{catsEyeData.timestamp | date:'medium'}}
        </small>

    <div></div>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                        {{catsEyeData.accounts}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>AWS Accounts</p>
                </div>
                <div class="icon">
                    <i class="fa fa-amazon"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                            {{catsEyeData.totalInstances}}</span>
                    <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Total AWS Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-database"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                            {{catsEyeData.totalRunning}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Active AWS Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-bolt"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                            {{catsEyeData.totalNonRunning}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Inactive AWS Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-ban"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
    </div> 

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-lime">
                <div class="inner">
                    <h3><span ng-if="!dataloading">
                            {{catsEyeData.catalystMonitored}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Monitored AWS Instances</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-television"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-hide="true">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        <span ng-if="!dataloading">{{catsEyeData.totalInstances}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Docker Containers</p>
                </div>
                <div class="icon">
                    <i class="fa fa-briefcase"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-hide="true">
            <!-- small box -->
            <div class="small-box bg-fuchsia">
                <div class="inner">
                    <h3><span ng-if="!dataloading">{{catsEyeData.totalRunning}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>
                    <p>Monitored Docker Containers</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-cubes"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-hide="true">
            <!-- small box -->
            <div class="small-box bg-blue-active">
                <div class="inner">
                    <h3><span ng-if="!dataloading">{{catsEyeData.totalNonRunning}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>SAEs</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-dashboard"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6" ng-hide="true">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3><span ng-if="!dataloading">{{catsEyeData.catalystMonitored}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-building-o"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-hide="true">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3><span ng-if="!dataloading">{{catsEyeData.totalInstances}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Adverse Events</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-bell"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-hide="true">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3><span ng-if="!dataloading">{{catsEyeData.totalRunning}}</span>
                        <span ng-if="dataloading"> <i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                    </h3>

                    <p>Remediations</p>
                </div>
                <div class="icon">
                    <i class="fa fa-fw fa-shield"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
    </div>
</section>
