<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Events
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-fw fa-filter"></i>Filter By</h3>
            <div class="box-tools pull-right">
                <button type="button" ng-click="resetFilter()" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-fw fa-refresh"></i>Reset</button>

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body form-horizontal">
            <div class="row">
                <div class="col-lg-3 col-md-3 margintop15" >
                    <label>Status:
                    </label>
                    <select class="form-control select2" id="selectStatus" ng-model="filter.status">
                        <option value='' ng-selected="filter.status == ''">All</option>
                        <option ng-value="0" ng-selected="filter.status == '0'">Info</option>
                        <option ng-value="1" ng-selected="filter.status == '1'">Warning</option>
                        <option ng-value="2" ng-selected="filter.status == '2'">Critical</option>
                        <option ng-value="3" ng-selected="filter.status == '3'">Error</option>
                    </select>
                </div>

                <div class="col-lg-3 col-md-3 margintop15" >
                    <label>Instance:
                    </label>
                    <ui-select ng-model="selectedInstance.value">
                        <ui-select-match>
                            <span ng-if="$select.selected.name">{{$select.selected.name}} - {{$select.selected.ipAddress}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="instance in (instances | filter:$select.search) | orderBy: 'creationTime': true">
                            <span>{{instance.name}} - {{instance.ipAddress}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-lg-3 col-md-3 margintop15" >
                    <label>Check:
                    </label>
                    <input class="form-control " id="selectMonitoring" ng-model="filter.checkName" ng-model-options="{ debounce: 200 }" />
                </div>

                <div class="col-lg-3 col-md-3 margintop15" style="padding-top: 26px;" >
                    <button type="button" title="Search" class="btn btn-xs btn-search" ng-click="getAlertHistory('resetPage')">
                        <i class="fa fa-fw fa-search white"></i>
                    </button>
                </div>


            </div>
            <!-- /.row -->
        </div>
    </div>
    <div ng-include="'app/views/eventslisting.html'"></div>
</section>