<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="close();">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{instanceData.instance.id}} - {{instanceData.instance.name}} - {{instanceData.instance.ipAddress}} </h4>
    </div>
    <div class="modal-body instance-metrics">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h3 class="heading-title">System Health</h3>

                <table class="table table-bordered">
                    <tbody>
                    <tr ng-repeat="computeList in instanceData.instanceMetrics.compute">
                        <td ><span uib-tooltip="{{computeList.checkOutput}} at {{computeList.checkIssued * 1000| date:'medium'}}" tooltip-placement="top-left">{{computeList.checkName}}</span></td>
                        <td><span ng-class="{'txt-green': computeList.checkStatus === 0, 'txt-warning': computeList.checkStatus === 1, 'txt-red': computeList.checkStatus === 2, 'txt-purple': computeList.checkStatus > 2}"><i class="fa fa-fw fa-circle pull-right"></i></span></td>
                    </tr>
                    </tbody>
                </table>


                <!--<div ng-repeat="computeList in instanceData.instanceMetrics.compute" class="metrics-align" uib-tooltip="{{computeList.checkOutput}} at {{computeList.checkIssued * 1000| date:'medium'}}" tooltip-placement="top-right">-->
                    <!--{{computeList.checkName}}: <span ng-class="{'txt-green': computeList.checkStatus === 0, 'txt-warning': computeList.checkStatus === 1, 'txt-red': computeList.checkStatus === 2, 'txt-purple': computeList.checkStatus > 2}"><i class="fa fa-fw fa-circle pull-right"></i></span>-->
                <!--</div>-->
            </div>
            <div class="col-sm-6 col-md-6">
                <h3 class="heading-title">App Health</h3>

                <table class="table table-bordered">
                    <tbody>
                    <tr ng-repeat="appList in instanceData.instanceMetrics.app">
                        <td ><span uib-tooltip="{{appList.checkOutput}} at {{computeList.checkIssued * 1000| date:'medium'}}" tooltip-placement="top-right">{{appList.checkName}}</span></td>
                        <td><span ng-class="{'txt-green': appList.checkStatus === 0, 'txt-warning': appList.checkStatus === 1, 'txt-red': appList.checkStatus === 2, 'txt-purple': appList.checkStatus > 2}"><i class="fa fa-fw fa-circle pull-right"></i></span></td>
                    </tr>
                    </tbody>
                </table>
                <!--<div ng-repeat="appList in instanceData.instanceMetrics.app" class="metrics-align" uib-tooltip="{{appList.checkOutput}} at {{computeList.checkIssued * 1000| date:'medium'}}" tooltip-placement="top-right">-->
                    <!--{{appList.checkName}}: <span ng-class="{'txt-green': appList.checkStatus === 0, 'txt-warning': appList.checkStatus === 1, 'txt-red': appList.checkStatus === 2, 'txt-purple': appList.checkStatus > 2}"><i class="fa fa-fw fa-circle pull-right"></i></span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn btn-primary pull-left" ng-click="close();" data-dismiss="modal">Close</button>
    </div>
</div>