<section class="content-header">
    <h1 class="pull-left">
        SAE Dashboard
        <small>{{instanceId}}</small>
    </h1>
    <small class="pull-right">
        <div class="form-group inline-form">
            <label>Instance: </label>
            <select class="form-control select2" id="instanceId" ng-model="instanceId" ng-change="getInstanceData()">
                <option  ng-repeat="instance in instances"  value='{{instance.id}}'>{{instance.name}} - {{instance.id}}</option>
            </select>
<!--<ui-select ng-model="instanceId" ng-change="getInstanceData()">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.id"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="instance in (instances | filter:$select.search) track by instance.id">
                                            <span>{{instance.id}}</span>
                                        </ui-select-choices>
                                    </ui-select>-->
        </div>
    </small>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <!-- interactive chart -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">{{graphTitle}}</h3>

                    <div class="box-tools pull-right">

                        <label>{{graphType}}: </label>
                        <span ng-click="changeHeatmapEventsType(1)" class="cursor-pointer txt-warning" uib-tooltip="Warning" ng-class="{'deactive':heatmapEventsType === 2}">
                            <i class="fa fa-fw fa-square"></i> Warning
                        </span>&nbsp;&nbsp; |&nbsp;&nbsp;
                        <span ng-click="changeHeatmapEventsType(2)" class="cursor-pointer txt-criticle" uib-tooltip="Warning"  ng-class="{'deactive':heatmapEventsType === 1}">
                            <i class="fa fa-fw fa-square"></i> Critical</span> 
                    </div>
                </div>
                <div class="box-body">
                    <div id="interactive">
                        <div ng-class="{'critical-heatmap': heatmapEventsType == 2, 'warning-heatmap': heatmapEventsType == 1}">
                            <span class="cal-timeStamp">{{fromDate | date : 'MMM yyyy'}} - {{toDate | date : 'MMM yyyy'}}</span>
                            <div class="cal-navigation">
                                <button class="btn btn-xs" id="previousSelector-a-previous" ng-disabled='disablePre' ng-click="calNavigation('pre');">Previous</button>
                                <button class="btn btn-xs" id="previousSelector-a-next" ng-disabled='disableNext' ng-click="calNavigation('next');">Next</button>
                            </div>
                            <cal-heatmap config="calConfig"></cal-heatmap>
                        </div>
                        <!--<nvd3 options="options" data="data"></nvd3>-->
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right right-text"><span ng-if="timeFilter.startTime"><i class="fa fa-clock-o"></i> {{timeFilter.startTime| date:'MMM d, yyyy'}} &nbsp; &nbsp; <a class="btn btn-primary btn-xs" ng-href="" ng-click="showAll();">Show All</a></span></div>
            <div ng-include="'app/views/adverselisting.html'"></div>
        </div>
    </div>

    <div class="row" ng-show="showCorelationData">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <uib-tabset active="active">                    
                    <uib-tab index="0" heading="Action history">
                        <div ng-include="'app/views/actionhistory.html'"></div> 
                    </uib-tab> 
                    <uib-tab index="1" heading="Remediation Logs">
                        <div ng-include="'app/views/remediationlisting.html'"></div>
                    </uib-tab>    
                </uib-tabset>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->