<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Instances
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-fw fa-filter"></i>Filter By</h3>
            <div class="box-tools pull-right">
                <button type="button" ng-click="serSae.resetFilter()" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-fw fa-refresh"></i>Reset</button>
                <button type="button" ng-click="serSae.addNewService()" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa fa-plus"></i>Add</button>

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body form-horizontal">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">

                                <div class="col-lg-3 col-md-3 margintop15" >
                                    <label>Status:
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" id="selectStatus" ng-model="serSae.filter.status" >
                                        <option value='' ng-selected="filter.status == ''">All</option>
                                        <option ng-value="0" ng-selected="filter.status == '0'">Info</option>
                                        <option ng-value="1" ng-selected="filter.status == '1'">Warning</option>
                                        <option ng-value="2" ng-selected="filter.status == '2'">Critical</option>
                                        <option ng-value="3" ng-selected="filter.status == '3'">Error</option>     </select>
                                </div>
                                <!--<div class="col-lg-3 col-md-3 margintop15" >-->
                                    <!--<label>Id:-->
                                    <!--</label>-->
                                    <!--<input class="form-control" placeholder="Search by id" ng-model="serSae.filter.id" ng-model-options="{debounce: 200}" ng-change="serSae.getInstances('')" />-->
                                <!--</div>-->


                                <div class="col-lg-3 col-md-3 margintop15" >
                                    <label>Name:
                                    </label>
                                    <input class="form-control" placeholder="Search by Name" ng-model="serSae.filter.name" ng-model-options="{debounce: 200}"  />
                                    <!--<button type="button" title="Search" class="btn btn-xs btn-search" ng-click="serSae.getInstances('')">-->
                                    <!--<i class="fa fa-fw fa-search white"></i>-->
                                    <!--</button>-->
                                </div>

                                <div class="col-lg-3 col-md-3 margintop15" >
                                    <label>Service Map:
                                    </label>
                                    <input class="form-control" placeholder="Search by service map" ng-model="serSae.filter.serviceMap" ng-model-options="{debounce: 200}"  />
                                </div>

                            <div class="col-lg-3 col-md-3 margintop15" style="padding-top: 26px;" >
                                <button type="button" title="Search" class="btn btn-xs btn-search" ng-click="serSae.getInstances('')">
                                <i class="fa fa-fw fa-search white"></i>
                                </button>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>
    <div class="table-responsive-vertical table">
        <table id="table" class="table table-hover table-bordered ">
            <thead>
            <tr>
                <th>#</th>
                <th>Status</th>
                <!--<th>ID</th>-->
                <th>Name</th>
                <th>Service Map</th>
                <th>Creation Time</th>
                <th>Last Updation Time</th>
                <!--<th>Metrics</th>-->
            </tr>
            </thead>
            <tbody ng-if="!dataloading" ng-repeat="data in serSae.instances| orderBy: 'creationTime': true">
                    <tr>
                        <th>
                            <i ng-hide="serSae.expIcon[data.id]" ng-click="serSae.expendRow(data.id)" class="fa fa-plus-square" style="cursor: pointer" aria-hidden="true"></i>
                            <i ng-hide="!serSae.expIcon[data.id]" ng-click="serSae.collapseRow(data.id)" class="fa fa-minus-square" style="cursor: pointer" aria-hidden="true"></i>
                        </th>

                        <td data-title="Status" ng-switch on="data.status">
                            <span ng-switch-when="0" class="txt-aqua" uib-tooltip="Info">
                            <i class="fa fa-fw fa-square"></i></span>
                            <span ng-switch-when="1" class="txt-warning" uib-tooltip="Warning">
                            <i class="fa fa-fw fa-square"></i></span>
                            <span ng-switch-when="2" class="txt-criticle" uib-tooltip="Critical">
                            <i class="fa fa-fw fa-square"></i></span>
                            <span ng-switch-when="3" class="txt-purple" uib-tooltip="Error">
                            <i class="fa fa-fw fa-square"></i></span>
                        </td>

                        <td data-title=" Name">{{data.name}}</td>
                        <td data-title="Service Map">{{data.serviceMap}}</td>
                        <td data-title="Creation Time">{{data.creationTime| date:'medium'}}</td>
                        <td data-title="Last Updation Time">{{data.lastUpdationTime| date:'medium'}}</td>
                    </tr>
                    <tr ng-if="serSae.expendIn=== data.id ">
                        <td colspan="7">
                            <table  class="table table-hover table-bordered text-center">
                                <thead>
                                <tr >
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr  ng-if="serSae.subData && serSae.subData.length >0 && serSae.expendIn=== data.id " ng-repeat="subData in serSae.subData">
                                        <th colspan="2">ID</th>
                                        <th colspan="2">Type</th>
                                        <th colspan="3">Status</th>
                                    </tr>
                                    <tr ng-if="serSae.subData.length === 0 && serSae.expendIn === data.id">
                                        <td colspan="9" class="txt-red text-center">
                                            No Data Found
                                        </td>
                                    </tr>

                                    <tr ng-if="dataloadingSub && serSae.expendIn=== data.id">
                                        <td colspan="9" class="txt-theme text-center">
                                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>

                    </tr>

            </tbody>

            <tbody ng-if="!dataloading && serSae.instances.length === 0">
                <tr >
                    <td colspan="9" class="txt-red text-center" >
                        No Data Found
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="dataloading">
                <tr >
                    <td colspan="9" class="txt-theme text-center">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>