<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Telemetry
        <small>{{main.selectedAccount}}</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-fw fa-filter"></i>Filter By</h3>
            <div class="box-tools pull-right">
                <button type="button" ng-click="resetFilter()" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-fw fa-refresh"></i>Reset</button>
            
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body form-horizontal">
            <div class="row">
                <div class="col-md-4">
                                           <div class="form-group">
                            <label for="selectState" class="col-sm-3 control-label">State:</label>
                            <div class="col-sm-9">
                                <select class="form-control select2 select2-hidden-accessible" id="selectState" ng-model="filter.state">
                                    <option selected="selected" value=''>All</option>
                                    <option ng-value="running">Running</option>
                                    <option ng-value="stopped">Stopped</option>
                                    <option ng-value="terminated">Terminated</option>
                                </select>
                            </div>
                        </div>                                        
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                            <label for="selectState" class="col-sm-3 control-label">Monitoring:</label>
                            <div class="col-sm-9">
                                <select class="form-control select2 select2-hidden-accessible" id="selectMonitoring" ng-model="filter.monitoring">
                                    <option selected="selected" value=''>All</option>
                                    <option ng-value="true">Yes</option>
                                    <option ng-value="false">No</option>
                                </select>
                            </div>
                        </div> 
                </div>
                <div class="col-md-4">
                   <div class="form-group">
                            <label for="selectState" class="col-sm-3 control-label">Remediation:</label>
                            <div class="col-sm-9">
                                <select class="form-control select2 select2-hidden-accessible" id="selectRemediation" ng-model="filter.remediation">
                                    <option selected="selected" value=''>All</option>
                                    <option ng-value="true">Yes</option>
                                    <option ng-value="false">No</option>
                                </select>
                            </div>
                        </div> 
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <div class="table-responsive-vertical table">

        <table id="table" class="table table-hover table-bordered text-center">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Info</th>
                    <th>Instance ID</th>
                    <th>Instance Name</th>
                    <th>Placement</th>
                    <th>Instance Type</th>
                    <th>IP Address</th>
                    <th>UpTime</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!dataloading" ng-repeat="data in filtered = (instances | filter: filter) | orderBy:'$index':true">
                    <td data-title="ID">
                        <span ng-class="{'txt-green': data.state == 'running', 'txt-red': data.state == 'stopped'}"><i class="fa fa-fw fa-flash fa-2x"></i></span>
                        <!--                        <span class="txt-green"><i class="fa fa-fw fa-rss fa-2x"></i></span>-->
                    </td>
                    <td data-title="Info"><span class="txt-blue"><i class="fa fa-fw fa-info-circle cursor-pointer fa-2x" ng-click="showIntanceAdverse(data.instanceId, data.instanceName);"></i></span</td>
                    <td data-title="Instance ID"><a ui-sref="home.sae({ instanceId: data.instanceId})">{{data.instanceId}}</a></td>
                    <td data-title="Instance Name">{{data.instanceName}}</td>
                    <td data-title="Placement">{{data.placement}}</td>
                    <td data-title="Instance Type">{{data.instanceType}}</td>
                    <td data-title="IP Address">{{data.publicIp}}<br />
                        {{data.privateIp}}</td>
                    <td data-title="UpTime">{{data.uptime}}</td>
                </tr>
                <tr ng-if="!dataloading && filtered.length === 0">
                    <td colspan="8" class="txt-red">
                        No Data Found
                    </td>
                </tr>
                <tr ng-if="dataloading">
                    <td colspan="8" class="txt-theme">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>